@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container nav{
    
    display: flex;
    justify-content: space-evenly;
    padding: 10;

}
.container nav .logo img{
   width: 120px;
   
   
}


.container nav .nav-link ul{
    display: flex;
    list-style: none;
}
.container nav .nav-link li a{
    padding-right: 30px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    
}
/* .nav-link li a:hover{


} */
.container nav .brand-hero{
    background: #0B0F8F;
    height: 400px; 
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
}
.container nav .brand-hero img{
   width: 300px;
  
}